.background{
    background-color:#d390ff
  }

  .title {
    background-color: #9054dd;
    text-align: center;
    color : white;
    height: 50px;
  }

  .text {
     text-align: center;
     font-family: sans-serif;
  }

  .image{
    position: relative;
    text-align: center;
  }
  #navigation{
    display: inline-flex;

  }
  #navigation li{
    margin: 20px;
    padding: 5px;
    border-radius:10%;
    background-color: rgb(148, 128, 167);
    list-style-type: none;
  }

  #navigation :hover{
    background-color: #c4b8d3;
  }
